@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');

*{
    margin: 0;
    border: 0;
    font-family: 'Poppins', sans-serif;
}

h1{
    margin: 20;
    border: 20;
    font-family: 'Poppins', sans-serif;
}

#my-map {
    display:block;
    margin-top: auto;
    margin-bottom: auto;
	width:100%;
	height:500px;
}